.singleItem {
  background-color: #86efac;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  max-height: 90%;
  max-width: 30rem;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.35),
    inset -8px -8px 16px rgba(0, 0, 0, 0.5), 6px 6px 12px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0) translateY(-1rem);
  animation: scaleUp 300ms ease-in forwards;
  display: flex;
  gap: 1rem;
}

.singleItem img {
  height: 100%;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 0px #b8ffd200, inset 0px 0px 0px #41976000;
  animation: pushIn 300ms 300ms ease-in forwards;
  background-color: rgba(0, 0, 0, 0.05);
}

.data_container {
  display: flex;
}

.data_container p:first-of-type {
  width: 5rem;
  font-weight: 500;
}

.container p {
  margin: 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .singleItem {
    flex-direction: column;
  }
  .singleItem img {
    max-height: 15rem;
    width: 100%;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0) translateY(-1rem);
  }
  100% {
    transform: scale(1) translateY(-1rem);
  }
}

@keyframes pushIn {
  0% {
    box-shadow: inset 0px 0px 0px #b8ffd200, inset 0px 0px 0px #41976000;
  }
  100% {
    box-shadow: inset -2px -2px 2px #b8ffd2, inset 3px 3px 3px #348652;
  }
}
